<section class="pokedex-view">
    <span class="title">Pokedex</span>
    <section class="pokedex">
<!-- Suggested code may be subject to a license. Learn more: ~LicenseLog:4120098516. -->
    <app-pokedex  [imageUrl]=pokemonImagen (pokemonId)="changePokemon($event)"  ></app-pokedex>
        <span class="point"></span>
        <span class="point"></span>
    </section>
    <section class="graph">
        <app-grafico></app-grafico>
    </section>

    <button class="btn" (click)="changePokemon(pokemonId)">Cambiar pokemon</button>
</section>
