<section class="pokedex-view">
  <h1 class="title">POKEDEX</h1>
  <br>
  <section class="pokedex" [class.scanning]="isScanning"> 
      <div class="main-screen">
          <div class="pokemon-display" [ngClass]="pokemonDisplayClass">
              <img [src]="pokemonImagen" alt="Pokémon" style="width:auto; height: 18em;">
          </div>
          <div class="info-icon"></div> <!-- Ícono de información -->
      </div>

      <div class="controls">
          <button class="btn" (click)="changePokemon(-1)">◀</button>
          <button class="btn" (click)="changePokemon(1)">▶</button>
      </div>

      <section class="graph">
          <app-grafico [pokemonData]="pokemonData"></app-grafico>
      </section>
  </section>
</section>