<section class="stats">
    <div class="pokemon-info">
        <span>#{{idPokemon}}</span>
        <h2 class="pokemon-name">{{nombrePokemon}}</h2>
        <div class="pokemon-type">
            
            <span>{{tipoPokemon}}</span>
        </div>
    </div>
<br>
    <div class="stat-bar">
        <div class="stat-label">
            <span>VIDA</span>
            <span>{{vidaPokemon}}/100</span>
        </div>
        <div class="stat-progress">
            <div class="hp-bar" [style.width.%]="vidaPokemon"></div>
        </div>
    </div>

    <div class="stat-bar">
        <div class="stat-label">
            <span>DEFENSA</span>
            <span>{{escudoPokemon}}/100</span>
        </div>
        <div class="stat-progress">
            <div class="defense-bar" [style.width.%]="escudoPokemon"></div>
        </div>
    </div>

    <div class="stat-bar">
        <div class="stat-label">
            <span>ATAQUE</span>
            <span>{{ataquePokemon}}/100</span>
        </div>
        <div class="stat-progress">
            <div class="attack-bar" [style.width.%]="ataquePokemon"></div>
        </div>
    </div>
</section>