.stats {
    background-color: #e5df73;
    border: 3px solid #000;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    border-top-right-radius:40px;
}

.pokemon-info {
    text-align: center;
    margin-bottom: 15px;
}

.pokemon-name {
    color: #2d2d2d;
    font-size: 20px;
    margin-bottom: 5px;
}

.pokemon-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.stat-bar {
    margin: 10px 0;
}
.hp-bar { 
    background-color: #FF0000; 
    width: var(--width);
}

.defense-bar { 
    background-color: #0000FF; 
    width: var(--width);
}

.attack-bar { 
    background-color: #FF0000; 
    width: var(--width);
}
.stat-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.stat-progress {
    height: 20px;
    background-color: #ddd;
    border: 2px solid #000;
    position: relative;
}

.stat-inner {
    height: 100%;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    position: absolute;
}

.hp-bar { background-color: #8dc78c; }
.defense-bar { background-color: #4562ac; }
.attack-bar { background-color: #c78c8c; }