.stats {
  background: linear-gradient(145deg, #ffd54f, #ffca28); /* Gradiente amarillo dorado */
  border: 3px solid #2c2c2c;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  border-top-right-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-info {
  text-align: center;
  margin-bottom: 15px;
}

.pokemon-name {
  color: #2c2c2c;
  font-size: 20px;
  margin-bottom: 5px;
  text-shadow: 1px 1px #ffffff;
}

.pokemon-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.stat-bar {
  margin: 10px 0;
}
.hp-bar { 
  background-color: #FF0000; 
  width: var(--width);
}

.defense-bar { 
  background-color: #0000FF; 
  width: var(--width);
}

.attack-bar { 
  background-color: #FF0000; 
  width: var(--width);
}
.stat-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.stat-progress {
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #2c2c2c;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.stat-inner {
  height: 100%;
  border-radius: 8px;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

.hp-bar { 
  background: linear-gradient(90deg, #66bb6a, #4caf50); /* Verde para HP */
}

.defense-bar { 
  background: linear-gradient(90deg, #42a5f5, #1e88e5); /* Azul para Defensa */
}

.attack-bar { 
  background: linear-gradient(90deg, #ef5350, #e53935); /* Rojo para Ataque */
}