body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(161, 161, 161); /* Fondo azul oscuro elegante */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}